*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.App {
  /* background-color: olive; */
  width: 100%;
}
.header,
.footer {
  background-color: rgb(21, 99, 88);
  display: flex;
  padding: 2rem;
}
.header li {
  margin-right: 1rem;
}
.header li a {
  color: aliceblue;
  font-size: 1.3rem;
  padding: 0.6rem;
}
.footer h3 {
  color: aliceblue;
  text-transform: capitalize;
}
.posts {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}
.post {
  /* background-color: lightblue; */
  width: 32%;
  padding: 1rem;
  border: 2px solid blue;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post h2 {
  text-align: center;
  text-transform: capitalize;
}
.errorPage {
  color: red;
  text-align: center;
  margin: 3rem auto;
}
.postPage {
  width: 90%;
  margin: 2rem auto;
  height: 60vh;
}
.postPage h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.postPage .linkToHome {
  margin: 2rem;
  display: inline-block;
  border: 2px solid blue;
  padding: 1rem;
}

.loader {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-top-color: dodgerblue;
  border-radius: 50%;
  animation: loader 0.75s infinit linear;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
